<%= form_for(@rate) do |f| %>
  <div class="section">
    <div class="section-summary">
      <h1>Rate details</h1>
      <p>Publicly available information regarding your shipping rate</p>
    </div>
    <div class="section-content">
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: 'Bike delivery' %>
          <%= f.label :price, 'Price (in cents)' %>
          <%= f.text_field :price, placeholder: 0 %>
          <%= f.label :description %>
          <%= f.text_area :description, placeholder: 'I offer personal bike delivery in my neighborhood.' %>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-summary">
      <h1>Rate filters</h1>
      <p>Compounded filters used to detect if the provided address matches your prerequisites</p>
      <p><a href="http://rubular.com/" target="_blank">Need help with regex?</a></p>
    </div>

    <%= f.fields_for(:filters, @rate.filters.first || @rate.filters.build) do |ff| %>
      <div class="section-content">
        <div class="section-row">
          <div class="section-cell">
            <%= ff.label :address1, 'Address' %>
            <%= ff.text_area :address1, placeholder: "150 Elgin" %>
          </div>
          <div class="section-cell">
            <%= ff.label :company_name %>
            <%= ff.text_area :company_name, placeholder: "^Shopify$" %>
          </div>
        </div>
        <div class="section-row">
          <div class="section-cell">
            <%= ff.label :city %>
            <%= ff.text_area :city, placeholder: "^Ottawa$" %>
          </div>
          <div class="section-cell">
            <%= ff.label :postal_code, 'Zip / Postal code' %>
            <%= ff.text_area :postal_code, placeholder: "^K2P(\s|-)*1L4$" %>
          </div>
        </div>
        <div class="section-row">
          <div class="section-cell">
            <%= ff.label :province, 'State / Province code' %>
            <%= ff.text_area :province, placeholder: "(ON|QC)" %>
          </div>
          <div class="section-cell">
            <%= ff.label :country, 'Country code' %>
            <%= ff.text_area :country, placeholder: "^CA$" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :shopify_app_javascript do %>
  ShopifyApp.Bar.initialize({
    title: "<%= @rate.persisted? ? @rate.name : 'New' %>",
    breadcrumb: { label: "Shipping rates", href: "<%= rates_path %>", target: 'app', loading: false },
    buttons: {
      primary: { label: "Save", callback: function() {
        $('form').submit()
      }},
      secondary: [{
        label: "Cancel", callback: function() {
          window.location = "<%= rates_path %>"
        }
      }]
    }
  });

  <% if @rate.errors.any? %>
    ShopifyApp.flashError('Oops, something went wrong!');
  <% end %>
<% end %>
