<div class="section">
  <div class="section-summary">
    <h1>Shipping Rates</h1>
    <p>These are the shipping rates you created.</p>
  </div>

  <div class="section-content">
    <% @rates.each do |rate| %>
      <div class="section-row">
        <div class="section-cell">

          <div class="cell-container">
            <div class="cell-column">
              <h1>
                <%= rate.name %>
                <span class="tag lightgray"><%= shop.currency %> <%= number_to_currency(rate.price / 100.0) %></span>
              </h1>

              <ul class="segmented right">
                <li><%= link_to 'Edit', rate_path(rate), class: %w(btn default btn-slim) %></li>
                <li><%= link_to 'Delete', rate_path(rate), method: :delete, class: %w(btn destroy btn-slim), data: { confirm: "Delete \"#{rate.name}\"?" } %></li>
              </ul>
            </div>
          </div>

          <% if rate.limits.any? %>
            <div class="cell-container">
              <div class="cell-column">
                <table class="table-section">
                  <thead>
                    <tr>
                      <th width="50%"><b>Limit</b></th>
                      <th width="50%"><b>Value</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% rate.limits.each do |limit, value| %>
                      <tr>
                        <td><%= Rate.human_attribute_name(limit) %></td>
                        <td><%= number_with_delimiter(value) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>

          <% if rate.filters.any? %>
            <div class="cell-container">
              <div class="cell-column">
                <% rate.filters.each do |filter| %>
                  <table class="table-section">
                    <thead>
                      <tr>
                        <th width="50%"><b>Field</b></th>
                        <th width="50%"><b>Regex</b></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if filter.regexes.any? %>
                        <% filter.regexes.each do |(field, regex)| %>
                          <tr>
                            <td><%= Filter.human_attribute_name(field) %></td>
                            <td><%= truncate(regex) %></td>
                          </tr>
                        <% end %>
                      <% else %>
                        <tr>
                          <td colspan="2">
                            <i>None</i>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<% content_for :shopify_app_javascript do %>
  ShopifyApp.Bar.initialize({
    title: 'Shipping Rates',
    buttons: {
      primary: { label: "New shipping rate", callback: function() {
        window.location = "<%= new_rate_path %>"
      }},
      secondary: [{
        label: "Troubleshoot", callback: function() {
          ShopifyApp.Modal.confirm(
            {
              title: "Having problems?",
              message: "Rates are not showing up? Having problems deleting / reinstalling the app? We can try to sync back Parcelify with Shopify. Just click here, sit back, relax, and wait. You won't loose any progress.",
              okButton: "Yes, sync with Shopify",
              cancelButton: "Cancel",
              style: "danger"
            }, function(result) {
              if (result) {
                window.location = "<%= retry_path %>"
              }
            }
          );
        }
      }]
    }
  });
<% end %>
